# IDE
.idea/
.vscode/

# Backend
/backend/vendor/
/backend/node_modules/
/backend/.env
/backend/storage/*.key
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/storage/logs/*
/backend/bootstrap/cache/*

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Docker
.docker/
/mysql_data/ 